@import "../../../../../node_modules/bootstrap-scss/bootstrap.scss";

.card-sm {
  .btn {
    @extend .btn-sm;
  }
  .form-control {
    @extend .form-control-sm;
  }
  label {
    @extend .mb-0;
  }
  .input-group {
    @extend .input-group-sm;
  }
  .form-group {
    @extend .mb-2;
  }
  .card-body {
    @extend .p-2;
  }
  .card-header {
    @extend .p-1;
  }
  .card-footer {
    @extend .p-1;
  }
}

.isDraggingOver {
  background-color: grey;
}

.questionnaire-item-list {
  @extend .p-1;
}

.half-opacity {
  opacity: 0.5;
}
