@import "../../../../../node_modules/bootstrap-scss/bootstrap.scss";

.questionnaire-response-group-item {
  padding-top: 25px;
  padding-bottom: 25px;
}

.questionnaire-response-group-item > label {
  @extend h5;
}

.required-symbol {
  color: red;
  @extend .ml-1;
}

p,
label {
  word-break: break-word;
}

.questionnaire-response-item {
  margin-bottom: 20px;
}

.card-sm {
  .btn {
    @extend .btn-sm;
  }
  .form-control {
    @extend .form-control-sm;
  }
  label {
    @extend .mb-0;
  }
  .input-group {
    @extend .input-group-sm;
  }
  .form-group {
    @extend .mb-2;
  }
  .card-body {
    @extend .p-2;
  }
  .card-header {
    @extend .p-1;
    @extend .px-2;
  }
  .card-footer {
    @extend .p-1;
    @extend .px-2;
  }
}

.isDraggingOver {
  background-color: grey;
}

.half-opacity {
  opacity: 0.5;
}

.sortable-ghost,
.sortable-drag {
  .questionnaire-item-list {
    display: none;
    height: 0;
  }
  .option-list {
    display: none;
    height: 0;
  }
  .js-text-area {
    max-height: 100px;
  }
}
.sortable-ghost.questionnaire-item {
  * {
    opacity: 0;
  }
  background-color: rgb(197, 197, 197);
}

.drag-handle {
  cursor: move;
}

.error-message {
  color: red;
}

.error-item {
  background-color: lightpink;
}
