.questionnaire-response-group-item {
  padding-top: 25px;
  padding-bottom: 25px;
}

p,
label {
  word-break: break-word;
}

.questionnaire-response-item {
  margin-bottom: 35px;
}

.required-symbol {
  color: red;
  margin-left: 4px;
}

.error-message {
  color: red;
}

.error-item {
  background-color: lightpink;
}
