.questionnaire-designer {
  .questionnaire-item__headline {
    label:not(.labelReplacer) {
      // @extend .font-weight-bold;
      @extend .text-muted;
    }
  }

  .card-active,
  .questionnaire {
    input,
    textarea {
      // font-weight: 600;
    }
  }

  .questionnaire-group-item__headline {
    label:not(.labelReplacer) {
      @extend .text-muted;
      // @extend .h4;
    }
  }

  .questionnaire-display-item__headline {
    label:not(.labelReplacer) {
      @extend .text-muted;
    }
  }

  .question-item-label {
    @extend .text-muted;
  }

  .questionnaire {
    label {
      @extend .text-muted;
    }
  }
}
