.sortable-ghost,
.sortable-drag {
  .questionnaire-item-list {
    display: none;
    height: 0;
  }
  .option-list {
    display: none;
    height: 0;
  }
  .item-settings {
    display: none;
    height: 0;
  }
  .js-text-area {
    max-height: 100px;
  }
  .bottom-line {
    display: none;
  }
}
.sortable-ghost.questionnaire-item {
  * {
    opacity: 0;
  }
  @extend .bg-secondary;
}

.drag-handle {
  cursor: move;
}
