.questionnaire-question-item:not(.card-active) {
  .questionnaire-item__details {
    .input-group-text {
      label {
        display: none;
      }
    }
    .question-item-label {
      display: none;
    }
    .btn {
      display: none;
    }
  }
}
