.questionnaire-designer,
.sortable-ghost,
.sortable-drag {
  .btn {
    @extend .btn-sm;
  }
  .item-settings {
    .form-control {
      @extend .form-control-sm;
    }
  }
  .questionnaire-question-item {
    .form-control {
      @extend .form-control-sm;
    }
    .input-group {
      @extend .input-group-sm;
      .form-control:not(:last-child) {
        border-radius: 0 !important;
      }
      .input-group-append {
        .input-group-text,
        .btn {
          border-top-left-radius: 0 !important;
          border-bottom-left-radius: 0 !important;
        }
      }
      .input-group-prepend {
        .input-group-text,
        .btn {
          border-top-right-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
        }
      }
    }
  }
  // textarea.form-control {
  //   height: auto;
  // }
  // .input-group {
  //   @extend .input-group-sm;
  //   .form-control:not(:last-child) {
  //     border-radius: 0 !important;
  //   }
  //   .input-group-append {
  //     .input-group-text,
  //     .btn {
  //       border-top-left-radius: 0 !important;
  //       border-bottom-left-radius: 0 !important;
  //     }
  //   }
  //   .input-group-prepend {
  //     .input-group-text,
  //     .btn {
  //       border-top-right-radius: 0 !important;
  //       border-bottom-right-radius: 0 !important;
  //     }
  //   }
  // }
}
