.questionnaire-designer {
  .questionnaire-item__headline {
    label:not(.labelReplacer) {
      @extend .text-muted;
    }
  }

  .questionnaire-group-item__headline {
    label:not(.labelReplacer) {
      @extend .text-muted;
    }
  }

  .questionnaire-display-item__headline {
    label:not(.labelReplacer) {
      @extend .text-muted;
    }
  }

  .question-item-label {
    @extend .text-muted;
  }

  .questionnaire {
    label {
      @extend .text-muted;
    }
  }
}
